@model List<PairViewModel>
@using System.Text.Json;
@{
    ViewData["Title"] = "View";
}

<h1>Add pair</h1>
<form asp-controller="Pairs" asp-action="AddPair">
    <input type="text" class="input-group-sm" name="firstCoin" placeholder="First coin">
    <input type="text" class="input-group-sm" name="secondCoin" placeholder="Second coin">
    <input type="text" class="input-group-sm" name="targetPrice" placeholder="Target price">
    <input type="submit" class="btn-sm btn btn-primary" />
</form>

<table class="table-bordered">
    @foreach (PairViewModel pair in Model)
    {
    <tr>
        <td><image width="20" height="20" src="@pair.FirstCurrencyImageURL" /></td>
        <td>@pair.FirstCurrencySymbol</td>
        <td width="40"></td>
        <td><image width="20" height="20" src="@pair.SecondCurrencyImageURL" /></td>
        <td>@pair.SecondCurrencySymbol</td>
        <td width="20"></td>
        <td>@pair.TargetPrice</td>
    </tr>
    }
</table>